.feed{
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    /* min-width: fit-content; */
    overflow-y: scroll;
}

.feed ::webkit-scrollbar{
    display: none;
}

.feed {
    -ms-overflow-style: none;
     /* scrollbar-width: none; */
}

.feed__search {
    color:gray;
}

.feed__input{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--twitter-background);
    padding:10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    width:70%;
}
.feed__input > input {
    border: none;
    background-color: var(--twitter-background);
}
.feed__header{
    display:flex;
    position:sticky;
    top:0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;

}

.feed__header >h2{
    font-size: 20px;
    font-weight: 800px;
 
}